rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User Rules
    match /users/{userId} {
      // Allow user to access their own user document
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Allow user to access any subcollection (logs, monthly_journals, tools, etc.)
      match /{subcollection=**} {
         allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}